:host ::ng-deep {
        .dock-window {
            width: 100%;
            height: 100vh;
            position: relative;
            background-image: url('../../../assets/Dock/window.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        .p-tree{
            padding: 1px !important;
        }
        .p-dock {
            z-index: 1000;
        }
        .dock-advanced {
            .p-dialog-mask,
            .p-toast {
                position: absolute;
            }

            .p-dialog {
                .p-dialog-header {
                    padding: .2rem;
                }

                .p-dialog-content {
                    padding: 0;
                }

                p {
                    margin-top: 0;
                }

                .p-terminal {
                    background-color: #212121;
                    color: #ffffff;
                    border: 0 none;
                    min-height: 18rem;
                    height: 100%;

                    .p-terminal-command {
                        color: #80CBC4;
                    }

                    .p-terminal-prompt {
                        color: #FFD54F;
                    }

                    .p-terminal-response {
                        color: #9FA8DA;
                    }
                }

                .p-tree {
                    height: 100%;
                    border-radius: 0;
                    border-left-width: 0;
                    border-right-width: 0;
                    border-bottom-width: 0;
                }
            }

            .p-toast {
                top: 20px;
            }
        }

        .p-menubar {
            padding-top: 0;
            padding-bottom: 0;
            border-radius: 0;

            .p-menuitem:first-child {
                font-weight: bold;
                padding: 0 1rem;
            }

            .p-menuitem-link {
                padding: 0.5rem .75rem;
            }

            .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
                padding: 0.5rem .75rem;

                > .p-submenu-icon {
                    display: none;
                }
            }

            .p-menubar-end {
                span, i {
                    padding: 0 .75rem;
                }
            }
        }
        .p-treenode-icon{
            color: rgb(28, 143, 250) !important;
            transform: scale(1.15);
        }
    .dark-tooltip {
        .p-tooltip {
            .p-tooltip-arrow {
                border-top-color: var(--surface-900);
            }

            .p-tooltip-text {
                background-color: var(--surface-900);
            }
        }
    }
    .p-dock-bottom{
        margin-bottom: 10px;
    }
    .p-tree-horizontal{
        min-height: 90vh;
    }
    .p-dialog-draggable{
        background: #ffffff;
    }
    .p-tree{
        background: transparent !important;   
        border: none !important; 
    }
    .p-menuitem:hover{
        background-color:transparent !important;
    }
    .p-menuitem *:hover{
        color: #000000 !important;
    }
    .p-menuitem:hover{
        background-color: rgba(237, 240, 238,0.30) !important;
    }
    .p-menuitem-text:hover{
        background-color: transparent;
    }
    .p-menuitem-icon{
        color: #ffffff !important;
    }
    .p-menuitem-link{
        background: transparent !important;
        padding: 0px !important;
    }
    .p-menuitem-text{
        padding: 12px;
        margin:0px !important;
        color: #ffffff !important;
    }
    .p-submenu-list{
        background-color: rgba(237, 240, 238,0.30) !important;
    }
}
.menuBarHolder{
    position: absolute;
    top:0%;
    width: 100%;
    //z-index: 10000;
}
.sideBarFiles{
    padding-left: 15px !important;
    border-top: none !important;
    min-width: 306px;
    max-width: 400px;
    width: fit-content;
    padding-top: 20px;
}
.colHolder::-webkit-scrollbar{
    visibility: hidden;
    display: none;
}
.colHolder{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-right: 2px solid lightgrey;
    background: rgba(211, 211, 211, 0.150) !important; 
    height: 96vh;
    overflow-y: scroll;
    padding: 0%;  
    margin-top: 0%;
    padding-top: 100px;
}
.closeIcons{
    width: 20px !important;
    height: 20px !important;
}
.closer{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-width: 300px;
    border-right: 2px solid lightgrey;
    border-top-left-radius: 5%;
    max-width: 300px;
    position: absolute;
    top:0px;
    padding: 18px 3px 18px 25px;
}
.fileWindow{
    width: calc(100% - 320px);
    height: 90vh;
}
.fileWindowToolBar{
    position: absolute;
    top: 10px;
    width: calc(100% - 305px);
    padding: 5px 3px 5px 3px;
    margin-left: 1.5px;
    background:rgba(240, 240, 240, 0.35) !important;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 0 rgba(0, 0, 0, 0.19);
}
.filesGrid{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    width: 99%;
    height: 88vh;
    border-radius: 1%;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
}
.topBarRight{
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}
.leftToolBarIcons{
    text-align: center;
}
.rightToolBarIcons i{
    font-size: 14pt !important;
}
.rightToolBarIcons{
    padding: 5px;
    cursor: pointer;
}


/////////   Speed Dials   //////////
:host ::ng-deep {
.speeddial-circle-demo {
.p-speeddial-circle {
    top: calc(50% - 2rem);
    left: calc(50% - 2rem);
}

.p-speeddial-semi-circle {
    &.p-speeddial-direction-up {
        left: calc(50% - 2rem);
        bottom: 0;
    }

    &.p-speeddial-direction-down {
        left: calc(50% - 2rem);
        top: 0;
    }

    &.p-speeddial-direction-left {
        right: 0;
        top: calc(50% - 2rem);
    }

    &.p-speeddial-direction-right {
        left: 0;
        top: calc(50% - 2rem);
    }
}

.p-speeddial-quarter-circle {
    &.p-speeddial-direction-up-left {
        right: 0;
        bottom: 0;
    }

    &.p-speeddial-direction-up-right {
        left: 0;
        bottom: 0;
    }

    &.p-speeddial-direction-down-left {
        right: 0;
        top: 0;
    }

    &.p-speeddial-direction-down-right {
        left: 0;
        top: 0;
    }
}
}
}


///////// Mini Menu /////////
.miniMenu{
    position: absolute;
    right:10px;
    top: 42px;
    padding: 10px;
    border-radius: 2.5%;
    height: 400px;
    width: 370px;
    background: rgba(233, 233, 233,0.20);
}
.subItem1{
    float: left;
    border-radius: 5%;
    width: 145px;
    height: 135px;
    margin: 5px;
    background: rgba(233, 233, 233,0.45);
}
.subItem2{
    margin: 5px;
    float: left;
    border-radius: 8px;
    width: 185px;
    height: 40px;
    background: rgba(233, 233, 233,0.45);
}
.subItem3{
    margin: 5px;
    float: left;
    border-radius: 5%;
    width: 85px;
    height: 85px;
    background: rgba(233, 233, 233,0.45);
}
.subItem4{
    margin: 5px;
    float: left;
    border-radius: 8px;
    width: 335px;
    height: 80px;
    background: rgba(233, 233, 233,0.45);
    padding: 10px;
}
.itemListing{
    display: flex;
 //   justify-content: center;
    align-items: center;
}