<div class="dock-window dock-advanced" [style]="{height:'97vh',paddingBottom:'20px'}">
    <div class="menuBarHolder">
        <p-menubar [model]="menubarItems"
            [style]="{background:'rgba(237, 240, 238,0.30)',border:'none',color:'#ffffff'}">
            <ng-template pTemplate="start">
                <i class="pi pi-apple"></i>
            </ng-template>
            <ng-template pTemplate="end">
                <i class="pi pi-video"></i>
                <i class="pi pi-wifi"></i>
                <i class="pi pi-volume-up"></i>
                <span>Fri 13:07</span>
                <i class="pi pi-search"></i>
                <button pButton type="button" class="p-button-text" style="color: #ffffff;" icon="pi pi-bars"
                    (click)="toggleMiniMenu()"></button>
            </ng-template>
        </p-menubar>
    </div>
    <div class="miniMenu" *ngIf="showMiniMenu">
        <div class="subItem1">
            <div class="itemListing">
                <button type="button" pButton icon="fa fa-battery" class="p-button-rounded p-button-info"></button>
                <span>Battery</span>
            </div>
            <div class="itemListing">
                <button type="button" pButton icon="pi pi-wifi" class="p-button-rounded p-button-info"></button>
                <span>WiFi</span>
            </div>
            <div class="itemListing">
                <button type="button" pButton icon="fa fa-bluetooth" class="p-button-rounded p-button-info"></button>
                <span>Bluetooth</span>
            </div>
        </div>
        <div class="subItem2">
            <div class="itemListing">
                <button type="button" pButton icon="pi pi-moon" class="p-button-rounded p-button-info"></button>
                <span>Do Not Disturb</span>
            </div>
        </div>
        <div class="subItem3">
            <div style="display: list-item;list-style-type: none;text-align: center;">
                <button type="button" pButton icon="fa fa-sun-o" class="p-button-rounded p-button-info"></button>
                <span>System Light</span>
            </div>
        </div>
        <div class="subItem3">
            <div style="display: list-item;list-style-type: none;text-align: center;">
                <button type="button" pButton icon="fa fa-tv" class="p-button-rounded p-button-info"></button>
                <span>Display</span>
            </div>
        </div>
        <div class="subItem4">
            <span>Display</span>
            <div style="width: 90%;margin-left: auto;margin-right: auto;margin-top: 6px;float: left;">
                <p-slider [(ngModel)]="val"></p-slider>
            </div>
                <i class="fa fa-tv" style="float: right;"></i>
        </div>
    </div>


    <p-dock [model]="dockItems" position="bottom">
        <ng-template pTemplate="item" let-item>
            <img [src]="item.icon" [alt]="item.label" width="100%">
        </ng-template>
    </p-dock>
    <p-toast></p-toast>

    <p-dialog [maximizable]="true" [closeOnEscape]="true" [dismissableMask]="true" [(visible)]="displayFinder"
        [breakpoints]="{'960px': '50vw'}" [style]="{width: '30vw', height: '18rem'}" [draggable]="true"
        [resizable]="true">
        <div class="closer">
            <button pButton pRipple type="button" class="p-button-rounded p-button-danger p-button-sm closeIcons"
                (click)="closeFinder()"></button>
            <button pButton pRipple type="button" class="p-button-rounded p-button-warning p-button-sm closeIcons"
                (click)="closeFinder()"></button>
            <button pButton pRipple type="button" class="p-button-rounded p-button-success p-button-sm closeIcons"
                (click)="minimizeFinder()"></button>
            <button pButton pRipple type="button" class="p-button-rounded p-button-info p-button-sm closeIcons"
                (click)="switchView()"></button>
        </div>
        <div class="grid">
            <div class="colHolder">
                <div class="sideBarFiles">
                    <h6 style="color: grey;">Favourites</h6>
                    <p-tree [value]="sideBarFavourites"></p-tree>
                </div>
                <div class="sideBarFiles">
                    <h6 style="color: grey;">iCloud</h6>
                    <p-tree [value]="sideBariCloud"></p-tree>
                </div>
                <div class="sideBarFiles">
                    <h6 style="margin: 3px 0px 3px 10px;color: grey;">Locations</h6>
                    <p-tree [value]="files1" *ngIf="!treeView"></p-tree>
                    <p-tree [value]="files" layout="horizontal" selectionMode="single" [(selection)]="selectedFile"
                        *ngIf="treeView"></p-tree>
                </div>
            </div>
            <div #filesWindow class="fileWindow">
                <div class="grid fileWindowToolBar">
                    <div class="xl:col-8 lg:col-6 md:col-6 sm:col-6 topBarLeft">
                        <button type="button" pButton pRipple class="leftToolBarIcons p-button-rounded p-button-text"
                            icon="pi pi-angle-left"></button>
                        <button type="button" pButton pRipple class="leftToolBarIcons p-button-rounded p-button-text"
                            icon="pi pi-angle-right"></button>
                    </div>
                    <div class="xl:col-4 lg:col-6 md:col-6 sm:col-6 topBarRight">
                        <span class="rightToolBarIcons"><i class="pi pi-th-large"></i></span>
                        <span class="rightToolBarIcons"><i class="pi pi-list"></i></span>
                        <span class="rightToolBarIcons"><i class="pi pi-map"></i></span>
                        <span class="rightToolBarIcons"><i class="pi pi-server"></i></span>

                        <span class="rightToolBarIcons"><i class="pi pi-chevron-down"></i></span>
                        <span class="rightToolBarIcons"><i class="pi pi-upload"></i></span>
                        <span class="rightToolBarIcons"><i class="pi pi-angle-double-right"></i></span>
                        <span class="rightToolBarIcons"><i class="pi pi-search"></i></span>
                    </div>
                </div>
                <div class="filesGrid">
                    <p-contextMenu [target]="filesWindow" [model]="contextMenuItems"></p-contextMenu>
                    <div style="position: absolute;bottom: 50px;right: 50px;" class="speeddial-circle-demo">
                        <p-speedDial [model]="speedDialItems" [radius]="120" direction="up-left" type="quarter-circle"
                            [mask]="true" buttonClassName="p-button-info"></p-speedDial>
                    </div>
                </div>
            </div>
        </div>
    </p-dialog>

    <p-dialog [maximizable]="true" [(visible)]="displayTerminal" [breakpoints]="{'960px': '50vw'}"
        [style]="{width: '30vw'}" [draggable]="true" [resizable]="true">
        <p-terminal welcomeMessage="Welcome to PrimeNG (cmd: 'date', 'greet {0}', 'random')" prompt="primeng $">
        </p-terminal>
    </p-dialog>
    <p-galleria [value]="images" [showThumbnails]="true" [showThumbnailNavigators]="true" [showItemNavigators]="true"
        [numVisible]="5" [(visible)]="displayGalleria" [circular]="true" [responsiveOptions]="responsiveOptionsList"
        [transitionInterval]="2000" [containerStyle]="{'max-width': '850px'}" [autoPlay]="true" [fullScreen]="true">
        <ng-template pTemplate="item" let-item>
            <img [src]="item.previewImageSrc" style="width: 100%; display: block;" />
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
            <div class="grid grid-nogutter justify-content-center">
                <img [src]="item.thumbnailImageSrc" style="display: block;" />
            </div>
        </ng-template>
    </p-galleria>
</div>