/* You can add global styles to this file, and also import other style files */
@import '~handsontable/dist/handsontable.full.css';
body{
    font-family: 'Courier New', Courier, monospace;
    height: 90vh;
}
.customHeader{
    background-color: rgb(29, 180, 250);
    color: #fff;
}
.customHeader *{
    color: #fff;
}
.customHeader h3{
    font-size: 26pt;
    font-weight: bold !important;
}
.customHeader h6{
    font-size: 16pt;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0px 0px 0px 10px;
}
.navbar{
    padding: 0% !important;
}
.nav-item{
    cursor: pointer;
}
#sidebarMenu{
    width: 218px;
    height: 90vh;
    font-size: 10pt !important;
    margin: 0%;
    position: absolute;
}
.active{
    background-color: rgb(29, 180, 250) !important;
    color: #fff !important;
    border-color: transparent !important;
}
.active *{
    color: #fff !important;
}
.containerCustom{
    left: 0;
    position: relative;
    font-size: 10pt !important;
    margin: 0px 25px 0px 238px;
}
table{
    margin: 10px !important;
    width: 1450px !important;
    overflow: hidden;
}
td{
    max-width: 100px;
    overflow: hidden;
}
tr{
    height: 10px !important;
    overflow: hidden !important;
}
.customLoader{
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.425)
}